@charset "utf-8";
/* CSS Document */


#splash_container {
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	background-color:#000000;
	overflow:hidden;
}

#school_img {
	width:100%;
	height:100%;
	position:absolute;
	background-image:url(img/school.jpg);
	background-size:cover;
	opacity:0;
}

#bottom_mask {
	height:200px;
	position:absolute;
	bottom:0px;
	left:0px;
	background-color:#000000;
	opacity:0.8;
	width:100%;
}

#wordcloud {
	width:1000px;
	height:500px;
	position:absolute;
	left:0px;
	background-image:url(img/wordcloud.png);
	background-size:contain;
	background-repeat:no-repeat;
	bottom:-75px;
	opacity:0.5;
}

#overview_background {
	position:absolute;
	width:100%;
	top:0px;
	left:0px;
	background-image:url(img/overview_background.png);
	background-size:contain;
	height:100%;
	opacity:0.15;
}

#wakemeup_logo {
	width:572px;
	height:100px;
	bottom:170px;
	right:50px;
	background-image:url(img/wakemeup_logo.png);
	background-size:contain;
	position:absolute;
	opacity:0;
}

#subtitle_img {
	width:289px;
	height:30px;
	bottom:100px;
	right:100px;
	opacity:0;
	background-image:url(img/subtitle_img.png);
	background-size:contain;
	position:absolute;
}

#location_img {
	height:100px;
	width:402px;
	background-image:url(img/location_img.png);
	background-size:contain;
	position:absolute;
	bottom:50px;
	left:100px;
	opacity:0;
}

#enter_button {
	height:50px;
	width:104px;
	position:absolute;
	bottom:30px;
	right:50px;
	background-image:url(img/enter_button.png);
	background-size:contain;
	opacity:0;	
	transition:all ease 0.3s;
	cursor:pointer;
}

#enter_button:hover {
	margin-right:25px;
	transition:all ease 0.3s;	
}

#retrive_window {
	width:600px;
	height:auto;
	padding-top:20px;
	padding-bottom:20px;
	box-shadow:rgba(0,0,0,0.42) 0px 0px 30px;
	border-bottom:#b50000 3px solid;
	background-color:white;
	position:fixed;
	left:50%;
	margin-left:-300px;
	top:75px;
	display:none;
	z-index:99;
}

#content_container {
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	overflow-y:scroll;
	overflow-x:hidden;
	background-color:#F7F7F7;
}

#main_nav {
	width:100%;
	height:60px;
	background-color:#E5E5E5;
}

#main_nav ul {
	margin:0;
	padding:0;
	padding-right:50px;
	text-align:right;
}

#main_nav ul li {
	list-style:none;
	display:inline-block;
	font-size:1em;
	font-family:Microsoft YaHei;
	padding-left:10px;
	padding-right:10px;
	line-height:60px;
	cursor:pointer;
}

#main_nav ul li:hover {
	border-bottom:#b60000 3px solid;	
}

.redtext_span {
	color:#b50000;
}

#content_logo {
	position:absolute;
	left:50px;
	top:20px;
	height:75px;
	background-repeat:no-repeat;
	width:545px;
	background-image:url(img/wakemeup_logo_blackver.png);
	background-size:contain;
}

#content_wordcloud {
	width:500px;
	background-image:url(img/wordcloud.png);
	position:absolute;
	left:50%;
	margin-left:-250px;
	height:100%;
	background-size:contain;
	background-position:top;
	background-repeat:no-repeat;
	top:-70px;
	z-index:-1;
}

#copyright_button {
	width:30px;
	height:30px;
	background-color:#000000;
	opacity:0.4;
	box-shadow:#6C6C6C 0px 0px 10px;
	line-height:30px;
	text-align:center;
	position:fixed;
	right:0px;
	bottom:30px;
	color:white;
}

#mobile_nav {
	display:none;	
}

#content_text_container {
	width:calc(100% - 110px);
	position:absolute;
	top:50px;
	left:25px;
	background-color:white;
	height:auto;
	padding-bottom:30px;
	min-height:100%;
	box-shadow:#C3C3C3 0px 0px 10px;
	padding-top:50px;
	padding-left:30px;
	padding-right:30px;
	font-family:Microsoft YaHei;
}

#loading_icon {
	position:fixed;
	font-size:3em;
	width:100%;
	height:40px;
	line-height:100px;
	top:50%;
	margin-top:-20px;
	text-align:center;
}

#content_text_container h1 {
	font-size:2.5em;
	color:#6A6A6A;	
}

#content_text_container h3 {
	font-size:1em;
	color:#A7A7A7;
	margin:0px;
	margin-top:-20px;
	padding:0;
	margin-bottom:10px;
}

#timetable_container {
	width:auto;
	height:auto;	
}

.timetable_block {
	width:100%;
	position:relative;
	height:60px;
}

#timetable_container .timetable_block h2 {
	font-size:1.7em;
	padding-left:20px;
	border-left:#b50000 3px solid;
	display:inline;
	position:absolute;
	left:20px;
	font-weight:100;
}

#timetable_container .timetable_block h3 {
	font-size:1.7em;
	padding-left:20px;
	display:inline;
	position:absolute;
	right:20px;
	font-weight:100;
}

#timetable_container p {
	padding-left:45px;
	padding-right:45px;
	line-height:30px;
}

#timetable_container ul {
	padding-bottom:30px;
	padding-right:45px;
	font-family:Microsoft YaHei;	
}

#timetable_container ul li {
	padding-top:5px;
	padding-bottom:5px;	
}

.sessions_block {
	padding-left:20px;
	padding-right:20px;
	position:relative;
	margin-top:20px;
	opacity:0.7;
	background-color:#FBFBFB;
	padding-top:20px;
	padding-bottom:20px;
	transition:all ease 0.3s;
	width:calc(100% - 400px);
}

.sessions_block:hover {
	opacity:1;
	cursor:pointer;
	box-shadow:#E5E5E5 0px 0px 20px;
	border-left:#b50000 3px solid;
	transition:all ease 0.3s;
}

.sessions_block h4 {
	color:#313131;
	font-size:1.5em;
	font-weight:400;
	margin:0;
	padding:0;
}

.sessions_block h5 {
	color:#686868;
	font-weight:100;
	font-size:1em;
	margin:0;
	margin-top:10px;
}

#session_select_block {
	width:320px;
	position:absolute;
	top:175px;
	background-color:#F7F7F7;
	padding-top:20px;
	padding-bottom:20px;
	right:30px;
}

#session_select_block h1 {
	font-size:1.5em;
	margin:0;
	padding:0;
	text-align:right;
	font-weight:500;
	padding-right:30px;
}

#session_select_block h2 {
	font-size:1em;
	margin:0;
	padding:0;
	text-align:right;
	font-weight:100;
	padding-right:30px;
	padding-top:10px;
	padding-left:30px;
}

#details_panel {
	width:calc(90% - 350px);
	height:60%;
	position:fixed;
	top:20%;
	left:5%;
	background-color:#FFFFFF;
	border:#b50000 3px solid;
	z-index:99;
	font-family:Microsoft YaHei;
	display:none;
	box-shadow:rgba(0,0,0,0.3) 0px 0px 40px;
}

.session_select_card {
	width:90%;
	margin-left:5%;
	background-color:#EDEDED;
	height:auto;
	padding-top:20px;
	padding-bottom:20px;
	position:relative;
	min-height:30px;
	margin-top:15px;
}



.session_select_card_num {
	position:absolute;
	font-size:2.7em;
	color:#DB9395;
	left:10px;
	top:10px;	
}

#details_panel_text {
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	overflow-y:scroll;	
}

#details_panel_text h1 {
	font-size:1.5em;
	color:#414141;
	font-weight:500;
	padding-left:30px;
	padding-right:30px;
	padding-top:50px;
}

#details_panel_text h2 {
	font-size:1em;
	color:#8E8E8E;
	font-weight:500;
	margin:0;
	padding:0;
	padding-left:30px;
	padding-right:30px;
}

#details_panel_text p {
	font-size:1em;
	color:#868686;
	padding-left:30px;
	font-weight:100;
	padding-right:30px;
	padding-bottom:50px;
}

#details_panel_close {
	height:40px;
	width:40px;
	background-color:#000000;
	opacity:0.3;
	color:white;
	position:absolute;
	top:0px;
	right:0px;
	text-align:center;
	line-height:40px;
}

#details_panel_add {
	height:40px;
	width:auto;
	position:absolute;
	bottom:0px;
	right:0px;
	background-color:#b50000;
	color:white;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:20px;
	padding-right:20px;
	line-height:40px;
	opacity:0.5;
	cursor:pointer;
}

#details_panel_add:hover {
	opacity:1;
}

.red_button {
	background-color:#b50000;
	opacity:0.8;
	color:white;
	font-family:Microsoft YaHei;
	height:40px;
	line-height:40px;
	text-align:center;
	border:none;
	margin:10px;
	margin-left:20px;
	margin-right:20px;
	padding-right:20px;
	text-align:right;
	cursor:pointer;
	transition:all ease 0.3s;
}

.red_button:hover {
	background-color:#860E10;
	transition:all ease 0.3s;	
}

#submit_window {
	width:600px;
	height:auto;
	padding-top:20px;
	padding-bottom:20px;
	border-bottom:#b50000 3px solid;
	box-shadow:rgba(0,0,0,0.42) 0px 0px 50px;
	position:fixed;
	top:0px;
	left:50%;
	margin-left:-300px;
	background-color:white;
	z-index:99;
	font-family:Microsoft YaHei;
	text-align:center;
	top:-800px;
}

#window_mask {
	position:fixed;
	z-index:98;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color:#000000;
	opacity:0.1;
	display:none;
}

#submit_window h1 {
	text-align:center;
	font-size:2em;
}

#submit_window h2 {
	text-align:center;
	font-size:1em;
	font-weight:100;
}

.std_text {
	width:500px;
	text-align:center;
	font-size:1em;
	padding-top:10px;
	padding-bottom:10px;
	margin:10px;
	border:#b50000 1px solid;
	outline:none;
}

#session_location_window {
	height:300px;
	width:100%;
	text-align:center;
	background-color:white;
	box-shadow:rgba(0,0,0,0.37) 0px 0px 20px;
	position:fixed;
	bottom:0px;
	left:0px;
	z-index:99;
}


@media only screen 
and (max-width : 1000px) {
	#timetable_container .timetable_block h2 {
		position:relative;
		display:block;
		margin:0px;
	}
	
	#session_select_block {
		display:block;
		position:absolute;
		width:90%;
		top:220px;
		left:5%;
	}
	#sessionfix{
		height:0;
	}
	
	#details_panel_add {
		display:block;
	}
	
	.sessions_block {
		width:auto;	
	}
	
	#details_panel {
		width:90%;	
	}
	
	#content_text_container h3 {
		text-align:center;	
	}
	
	#content_text_container h1 {
		text-align:center;	
	}
	
	#timetable_container .timetable_block h3 {
		position:relative;
		text-align:left;
		padding-left:63px;
		display:block;
		padding-top:0px;
		margin:0px;
	}
	
	.timetable_block {
		height:90px;	
	}

	#wakemeup_logo {
		width:80%;
		position:absolute;
		top:40px;
		background-repeat:no-repeat;
		left:10%;
		background-position:center;
	}
	
	#subtitle_img {
		width:60%;
		bottom:20px;
		left:20%;
		background-repeat:no-repeat;
		background-position:center;
	}
	
	#bottom_mask {
		height:100%;
	}
	
	#location_img {
		width:80%;
		left:10%;
		top:40vw;
		background-repeat:no-repeat;
		background-position:center;
	}
	
	#enter_button {
		width:60%;
		position:absolute;
		bottom:90px;
		left:20%;
		background-repeat:no-repeat;
		background-position:center;
	}
	
	#content_logo {
		width:60%;
		left:20%;
		top:20px;
		height:60vw;
	}
	
	#main_nav {
		display:none;	
	}
	
	#mobile_nav {
		display:block;
		position:absolute;
		left:0px;
		top:calc(11.9vw + 40px);
		text-align:center;
		width:100%;
	}
	
	#mobile_nav ul {
		padding:0px;
		margin:0px;
	}
	#mobile_nav ul li {
		font-family:Microsoft YaHei;
		font-size:1.2em;
		padding-top:10px;
		padding-bottom:10px;
		cursor:pointer;
	}
	#mobile_nav ul li:hover {
		border-left:#b50000 3px solid;	
	}
	
	#content_text_container {
		padding-top:calc(11.9vw + 170px);	
	}
}